
/* Réinitialiser tous les marges par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Assurez-vous que le body et le html n'ont pas de marges par défaut */
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }






  
  
  /* Fixer la hauteur du header */
  .header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Hauteur fixe */
    width: 100%;
  }
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
}
.centrage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.accueil-container {
    display: flex;
    gap: 20px;
    padding: 20px 120px;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content:center;
    align-items: flex-start;
    padding: 20px 120px;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.cardm {
    background: linear-gradient(to right, #003f5c, #6a9cb8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    width: 390px;
    min-width: 150px;
    height: 225px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    opacity: 0; 
    animation: fadeInUp 0.6s ease-out forwards; 
}
.cardmDevis {
    background: linear-gradient(to right, rgb(97, 53, 0), darkorange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    width: 390px;
    height: 225px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    opacity: 0; 
    animation: fadeInUp 0.6s ease-out forwards; 

}

.cardm:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
}

.cardm:nth-child(1) {
    animation: slideInFromLeft 0.5s ease-out forwards;
}

.cardm:nth-child(2) {
    animation: slideInFromBottom 0.5s ease-out forwards;
}

.cardm:nth-child(3) {
    animation: slideInFromRight 0.5s ease-out forwards;
}

.cardm h2 {
    padding-left: 20px;
    padding-bottom: 10px;
    font-size:1em;
    margin-bottom: -35px;
    width:104%;
    margin: -20px 0 -35px -18px;
    color: #f4f4f9; 
}



@media (min-width: 601px) and (max-width: 1050px) {
    .cardm, .cardmDevis {
        width: 390px;
        height: 150px;
        margin-bottom: 40px;
        

    }



    .accueil-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0;
        flex-wrap: wrap;
        margin-top: 0px;
        justify-content: space-between;
        align-items: flex-start;
    }






}




@media (max-width: 599px) {
    .cardm, .cardmDevis {
        width: 220px;
        height: 150px;
        margin-top: 20px;
        margin: 0 auto;
    }


    .accueil-container {
        display: flex;
        gap: 20px;
        padding: 20px 120px;
        flex-wrap: wrap;
        margin-top: 0px;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 120px;
    }
    .cardm, .cardmDevis  {            
        margin-top: 0px;
        width: 250px;
        height: 150px;
        margin-bottom: 0px;
    }

    .cardmDevis  {            
        margin-top: 10px; 
    }
    .carousel-container {
        display: none;
        padding: 20px;
        margin-top: 20px;
        background: linear-gradient(to right, #003f5c, #6a9cb8);
        border: 2px solid white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 400px;
        margin: 0 auto;
        height: 160px;
        animation: slideInFromBottom 0.8s ease-out;
    }

}

h3{
    color:#fff;
}


.devis-link{
    background-color: #f4f4f900;
    border: none;
}

.carousel-container {
    padding: 20px;
    background: linear-gradient(to right, #003f5c, #6a9cb8);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 800px;
    margin: 0 auto;
    height: 200px;
    animation: slideInFromBottom 0.8s ease-out;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155px;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px; 
}

.slide-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    text-align: left;
    width: 90%; 
    
}

.slide-content h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
}



.slick-dots li button:before {
    color: #ffffff;
}

.slick-prev, .slick-next {
    z-index: 1;
    font-size: 1em;
    background: linear-gradient(to right, #003f5c, #6a9cb8);
    border-radius: 50%;
    color: #ffffff;
}

@media (min-width: 599px) {
    .slick-prev, .slick-next {
        display: none;
    }
    
}

@media (min-width: 600px) and (max-width: 768px) {
    .slide,.cardm  {
        height: 150px;
    }

    .slide-content h3 {
        font-size: 1em;
    }

    .slide-content p {
        font-size: 1em;
    }
}

.carousel-image {
    width: 140px;
    height: 140px; 
    object-fit: cover; 
    border-radius: 10px; 
    margin-right: 30px; 
    margin-left: -10px;
    margin-top: -12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slide-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1; 
    }
}

