.formulaire-devisS {

  padding: 1rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: linear-gradient(to right, #003f5c, #6a9cb8);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 650px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width:600px) and (max-width:768px){
  .formulaire-devisS {

    padding: 1rem;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background: linear-gradient(to right, #003f5c, #6a9cb8);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 670px;
    margin-bottom: 50px;
  }
}

@media (min-width:450px) and (max-width:599px){
  .formulaire-devisS {

    padding: 1rem;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background: linear-gradient(to right, #003f5c, #6a9cb8);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 770px;
    margin-bottom: 50px;
  }
}


@media  (max-width:399px){
  .formulaire-devisS {

    padding: 1rem;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background: linear-gradient(to right, #003f5c, #6a9cb8);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 880px;
    margin-bottom: 50px;
  }
}


/* Style des titres */
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Conteneur des cartes */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* Style des cartes */
.card {
  margin-top: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: calc(30% - 1rem);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.card:hover {
  background-color: #007bff;
  transform: scale(1.05);
}
.selected {
  background-color: #007bff;
  color: white;
}

/* Input et textarea responsive */
input[type="text"],
textarea {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Boutons */
.boutons-containerR button {
  background-color: #007bff;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: -1em;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

/* Conteneur pour le type de projet */
.type-projet-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

/* Style des options */
.type-projet-option {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.type-projet-option:hover {
  background-color: #0519a0;
}

.type-projet-option input[type="radio"] {
  margin-right: 1rem;
}

.label-text {
  font-size: 1.1rem;
  color:white;
}

/* Style de la section URL pour la refonte */
.url-refonte-container,
.objectifs-container {
  margin-top: 2rem;
}



/* Style général pour tous les textarea */
textarea {
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical; /* Permet de redimensionner verticalement */
}

/* Ajout d'un style au survol et focus pour améliorer l'expérience utilisateur */
textarea:focus {
  outline: none;
  border-color: #007bff; /* Couleur de la bordure en focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

fieldset {
  padding: 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  background-color: #ffffff00;
  color: #ffffff;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.fonctionnalites-options, 
.graphisme-options {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Augmente l'espacement entre les options */
}

.fonctionnalite-option, 
.graphisme-option {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Ajoute de l'espacement entre l'input et le texte */
}

.label-text {
  font-size: 1rem;
}

.boutons-containerR {
  display: flex;
  justify-content: space-between;
}

.boutonbtn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boutonbtn:hover {
  background-color: #0056b3;
}

.graphisme-section{
  margin-bottom: -5PX;
}



.etape3-container {
  display: flex;
  flex-direction: column;
  height: 550px;
}

fieldset {
  padding: 1rem;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #ffffff00;
  color: #ffffff;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.fonctionnalites-options, 
.graphisme-options {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Augmente l'espacement entre les options */
}

.fonctionnalite-option, 
.graphisme-option {
  display: flex;
  align-items: center;
  gap: 1rem; /* Augmente l'espacement entre l'input et le texte */
}

/* Sépare davantage les checkbox et les phrases */
.fonctionnalite-option input, 
.graphisme-option input {
  margin-right: 1rem; /* Espace entre le checkbox/radio et la phrase */
}

.label-text {
  margin-left: 1rem;
  font-size: 1rem;
}

.boutons-containerR {
  display: flex;
  justify-content: space-between;
}

.boutonbtn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boutonbtn:hover {
  background-color: #0056b3;
}


.etape3_1-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

fieldset {
  padding: 1rem;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #ffffff00;
  color: #ffffff;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.conteneur-besoins {
  display: flex;
  gap: 2rem; /* Espacement entre les colonnes */
}

.colonne-gauche, .colonne-droite {
  flex: 1;
}

.besoins-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.besoin-option {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espacement entre le checkbox et le texte */
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tailleTextarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.boutons-containerR {
  display: flex;
  justify-content: space-between;
}

.boutonbtn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boutonbtn:hover {
  background-color: #0056b3;
}

.etape4-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff00;
  color: #000000;
  border-radius: 8px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.2rem;
  text-align: center;
}

.coordonnees-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label1 {
  font-size: 1rem;
  color: #ffffff;
  margin-top: -40px;
  margin-bottom: px;
}

.input1 {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.input1:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.boutons-containerR {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.boutonbtn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 48%;
  text-align: center;
}

.boutonbtn:hover {
  background-color: #0056b3;
}




.besoins-section {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #f9f9f900;
  color: white;
}

legend {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.besoins-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Ajoute un espacement entre les éléments checkbox */
}

.besoin-option {
  display: flex;
  align-items: center;
  gap: 0.8rem; /* Ajoute de l'espacement entre la checkbox et le texte */
}

.label-text {
  font-size: 1rem;
  color: #ffffff;
}

.url-container,
.description-container {
  margin-bottom: -1rem;
}

textarea.tailleTextarea {
  width: 100%;
  height: 150px;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea.tailleTextarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.boutons-containerR {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.boutonbtn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
}

.boutonbtn:hover {
  background-color: #0056b3;
}

.mep{
  margin-bottom:50px ;
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
